#aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#aboutme i {
    margin-right: 0;
    width: 130px;
    height: 110px;
    padding: 10px 0;
}

#aboutme img {
    height: 100%;
}

