<!doctype html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>Scott Yeung's Blog</title>
<meta name="keywords" content="个人博客,scott yeung" />
<meta name="description" content="scott's blog" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='{% static "css/base.css"%}' rel="stylesheet">
<link href='{% static "css/index.css"%}' rel="stylesheet">
<link href='{% static "css/m.css"%}' rel="stylesheet">
<link href="{% static "css/modify.css" %}" rel="stylesheet">
    {% block staticfile %}
    {% endblock %}
<script src='{% static "js/jquery.min.js"%}' type="text/javascript"></script>
<script type="text/javascript" src='{% static "js/comm.js"%}'></script>

<!--[if lt IE 9]>
<script src='{% static "js/modernizr.js"%}'></script>
<![endif]-->
</head>
<body>
<header class="header-navigation" id="header">
  <nav><div class="logo"><a href="/">Scott's Blog</a></div>
    <h2 id="mnavh"><span class="navicon"></span></h2>
    <ul id="starlist">
      <li><a href="/index">网站首页</a></li>
      <li><a href="list.html">我的日记</a></li>
      <li><a href="about.html">关于我</a></li>
{#      <li><a href="gbook.html">留言</a></li>#}
      <li><a href="info.html">内容页</a></li>
      <li><a href="infopic.html">内容页</a></li>
    </ul>
</nav>
</header>
<article>
  <aside class="l_box">
      <div class="about_me">
        <h2>关于我</h2>
        <ul id="aboutme">
          <i><img src={% static "images/self.jpg"%}></i>
          <h1>Scott Yeung</h1>
            <p>夫唯不争 故天下莫能与之争</p>
            <p>Github:<a href="https://github.com/yeung66">yeung66</a></p>
            <p>QQ: 407284292</p>
        </ul>
      </div>

      <div class="search">
        <form action="" method="post" name="searchform" id="searchform">
          <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
          <input name="show" value="title" type="hidden">
          <input name="tempid" value="1" type="hidden">
          <input name="tbname" value="news" type="hidden">
          <input name="Submit" class="input_submit" value="搜索" type="submit">
        </form>
      </div>
      <div class="fenlei">
        <h2>文章分类</h2>
        <ul>
          {% for t in types %}
            <li><a href="/">{{ t.type }}（{{ t.id__count }}）</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="tuijian">
        <h2>站内推荐</h2>
        <ul>
            {% for r in recommand %}
          <li><a href="/article/{{ r.id }}">{{ r.title }}</a></li>
          {% endfor %}
        </ul>
      </div>

  </aside>


      {% block main %}

      {% endblock %}

</article>

<a href="#" class="cd-top">Top</a>
</body>
</html>
